<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{image}}" alt="{{name}} Image">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">Team: {{team}}</p>
        <p class="card-text">Position: {{position}}</p>
        <p class="card-text">Number: {{number}}</p>
    </div>
</div>