<h1>Product page</h1>
<p>This is the product page of my website.</p>
<p>Product name: {{product.name}}</p>
<p>Product price: {{product.price}}</p>
<p>Product description: {{product.description}}</p>
<p>Product image: <img src="{{product.image}}" alt="{{this.name}}"></p>
